<div class="footer-wrapper justify-content-center text-center">
    <div class="footer-section f-section-1">
        <p class=""  style="color:black !important;">2023 ©  JABATAN PERLINDUNGAN HIDUPAN LIAR DAN TAMAN NEGARA (PERHILITAN) SEMENANJUNG MALAYSIA . <br />Hak Cipta Terpelihara.</p>
    </div>

</div>